.admin-register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #1f4037, #99f2c8);
}

.admin-register form {
  background: white;
  padding: 40px;
  width: 360px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.admin-register h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1f4037;
}

.admin-register input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.admin-register button {
  width: 100%;
  padding: 12px;
  background: #1f4037;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.admin-register button:hover {
  background: #145a4f;
}
